USE [master]
GO
/****** Object:  Database [db_controledeestoque]    Script Date: 01/03/2019 01:42:17 ******/
CREATE DATABASE [db_controledeestoque]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_controledeestoque', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\db_controledeestoque.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'db_controledeestoque_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\db_controledeestoque_log.ldf' , SIZE = 1856KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_controledeestoque].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_controledeestoque]
GO
/****** Object:  Table [dbo].[categoria]    Script Date: 01/03/2019 01:42:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[categoria](
	[cat_cod] [int] IDENTITY(1,1) NOT NULL,
	[cat_nome] [varchar](95) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 01/03/2019 01:42:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cliente](
	[cli_cod] [int] IDENTITY(1,1) NOT NULL,
	[cli_nome] [varchar](95) NULL,
	[cli_cpfcnpj] [varchar](95) NULL,
	[cli_rgie] [varchar](95) NULL,
	[cli_rsocial] [varchar](95) NULL,
	[cli_tipo] [int] NULL,
	[cli_cep] [varchar](20) NULL,
	[cli_endereco] [varchar](95) NULL,
	[cli_bairro] [varchar](95) NULL,
	[cli_fone] [varchar](95) NULL,
	[cli_cel] [varchar](95) NULL,
	[cli_email] [varchar](95) NULL,
	[cli_endnumero] [varchar](10) NULL,
	[cli_cidade] [varchar](95) NULL,
	[cli_estado] [varchar](95) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[compra]    Script Date: 01/03/2019 01:42:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[compra](
	[com_cod] [int] IDENTITY(1,1) NOT NULL,
	[com_data] [datetime] NULL,
	[com_nfiscal] [bigint] NOT NULL,
	[com_total] [money] NULL,
	[com_nparcelas] [int] NOT NULL,
	[com_status] [varchar](50) NULL,
	[for_cod] [int] NOT NULL,
	[tpa_cod] [int] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[controleacesso]    Script Date: 01/03/2019 01:42:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[controleacesso](
	[ctrl_cod] [int] IDENTITY(1,1) NOT NULL,
	[niv_cod] [int] NOT NULL,
	[ctrl_cadcat] [varchar](5) NOT NULL,
	[ctrl_cadscat] [varchar](5) NOT NULL,
	[ctrl_cadunidmed] [varchar](5) NOT NULL,
	[ctrl_cadproduto] [varchar](5) NOT NULL,
	[ctrl_cadusuario] [varchar](5) NOT NULL,
	[ctrl_cadcliente] [varchar](5) NOT NULL,
	[ctrl_cadfornecedor] [varchar](5) NOT NULL,
	[ctrl_cadtipopagto] [varchar](5) NOT NULL,
	[ctrl_compra] [varchar](5) NOT NULL,
	[ctrl_venda] [varchar](5) NOT NULL,
	[ctrl_recebimento] [varchar](5) NOT NULL,
	[ctrl_pagamento] [varchar](5) NOT NULL,
	[ctrl_consultacat] [varchar](5) NOT NULL,
	[ctrl_consultascat] [varchar](5) NOT NULL,
	[ctrl_consultaunidmed] [varchar](5) NOT NULL,
	[ctrl_consultaproduto] [varchar](5) NOT NULL,
	[ctrl_consultausuario] [varchar](5) NOT NULL,
	[ctrl_consultacliente] [varchar](5) NOT NULL,
	[ctrl_consultafornecedor] [varchar](5) NOT NULL,
	[ctrl_consultatipopagto] [varchar](5) NOT NULL,
	[ctrl_consultacompra] [varchar](5) NOT NULL,
	[ctrl_consultavenda] [varchar](5) NOT NULL,
	[ctrl_configbd] [varchar](5) NOT NULL,
	[ctrl_backupbd] [varchar](5) NOT NULL,
	[ctrl_relatorioproduto] [varchar](5) NOT NULL,
	[ctrl_relatoriocliente] [varchar](5) NOT NULL,
	[ctrl_relatoriofornecedor] [varchar](5) NOT NULL,
	[ctrl_relatoriocompra] [varchar](5) NOT NULL,
	[ctrl_relatoriovenda] [varchar](5) NOT NULL,
	[ctrl_word] [varchar](5) NOT NULL,
	[ctrl_excel] [varchar](5) NOT NULL,
	[ctrl_bloconotas] [varchar](5) NOT NULL,
	[ctrl_calculadora] [varchar](5) NOT NULL,
 CONSTRAINT [PK_controleacesso] PRIMARY KEY CLUSTERED 
(
	[ctrl_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[fornecedor]    Script Date: 01/03/2019 01:42:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[fornecedor](
	[for_cod] [int] IDENTITY(1,1) NOT NULL,
	[for_nome] [varchar](95) NULL,
	[for_rsocial] [varchar](95) NULL,
	[for_ie] [varchar](95) NULL,
	[for_cnpj] [varchar](95) NULL,
	[for_cep] [varchar](95) NULL,
	[for_endereco] [varchar](95) NULL,
	[for_bairro] [varchar](95) NULL,
	[for_fone] [varchar](95) NULL,
	[for_cel] [varchar](95) NULL,
	[for_email] [varchar](95) NULL,
	[for_endnumero] [varchar](95) NULL,
	[for_cidade] [varchar](95) NULL,
	[for_estado] [varchar](95) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[itenscompra]    Script Date: 01/03/2019 01:42:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[itenscompra](
	[itc_cod] [int] NOT NULL,
	[itc_qtde] [float] NULL,
	[itc_valor] [money] NULL,
	[com_cod] [int] NOT NULL,
	[pro_cod] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[itensvenda]    Script Date: 01/03/2019 01:42:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[itensvenda](
	[itv_cod] [int] NOT NULL,
	[itv_qtde] [float] NULL,
	[itv_valor] [money] NULL,
	[ven_cod] [int] NOT NULL,
	[pro_cod] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[logusuario]    Script Date: 01/03/2019 01:42:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[logusuario](
	[log_cod] [int] IDENTITY(1,1) NOT NULL,
	[log_tempentrada] [datetime] NOT NULL,
	[log_tempsaida] [datetime] NULL,
	[usu_cod] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[nivelacesso]    Script Date: 01/03/2019 01:42:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nivelacesso](
	[niv_cod] [int] IDENTITY(1,1) NOT NULL,
	[niv_nome] [varchar](50) NOT NULL,
 CONSTRAINT [PK_nivelacesso] PRIMARY KEY CLUSTERED 
(
	[niv_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[parcelascompra]    Script Date: 01/03/2019 01:42:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[parcelascompra](
	[pco_cod] [int] NOT NULL,
	[pco_valor] [money] NULL,
	[pco_datapagto] [date] NULL,
	[pco_datavecto] [date] NULL,
	[com_cod] [int] NOT NULL,
 CONSTRAINT [XPKparcelascompra] PRIMARY KEY CLUSTERED 
(
	[pco_cod] ASC,
	[com_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[parcelasvenda]    Script Date: 01/03/2019 01:42:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[parcelasvenda](
	[pve_cod] [int] NOT NULL,
	[pve_valor] [money] NULL,
	[pve_datapagto] [date] NULL,
	[pve_datavecto] [date] NULL,
	[ven_cod] [int] NOT NULL,
 CONSTRAINT [XPKparcelasvenda] PRIMARY KEY CLUSTERED 
(
	[ven_cod] ASC,
	[pve_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[produto]    Script Date: 01/03/2019 01:42:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[produto](
	[pro_cod] [int] IDENTITY(1,1) NOT NULL,
	[pro_nome] [varchar](95) NULL,
	[pro_descricao] [text] NULL,
	[pro_foto] [image] NULL,
	[pro_valorpago] [money] NULL,
	[pro_valorvenda] [money] NULL,
	[pro_qtde] [float] NULL,
	[umed_cod] [int] NULL,
	[cat_cod] [int] NULL,
	[scat_cod] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[subcategoria]    Script Date: 01/03/2019 01:42:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[subcategoria](
	[scat_cod] [int] IDENTITY(1,1) NOT NULL,
	[scat_nome] [varchar](95) NULL,
	[cat_cod] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tipopagamento]    Script Date: 01/03/2019 01:42:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tipopagamento](
	[tpa_cod] [int] IDENTITY(1,1) NOT NULL,
	[tpa_nome] [varchar](90) NULL,
 CONSTRAINT [XPKtipopagamento] PRIMARY KEY CLUSTERED 
(
	[tpa_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[unidmedida]    Script Date: 01/03/2019 01:42:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[unidmedida](
	[umed_cod] [int] IDENTITY(1,1) NOT NULL,
	[umed_nome] [varchar](95) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 01/03/2019 01:42:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[usuario](
	[usu_cod] [int] IDENTITY(1,1) NOT NULL,
	[usu_nome] [varchar](50) NOT NULL,
	[usu_senha] [varchar](250) NOT NULL,
	[usu_status] [varchar](50) NOT NULL,
	[niv_cod] [int] NOT NULL,
 CONSTRAINT [PK_usuario] PRIMARY KEY CLUSTERED 
(
	[usu_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[venda]    Script Date: 01/03/2019 01:42:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[venda](
	[ven_cod] [int] IDENTITY(1,1) NOT NULL,
	[ven_data] [datetime] NULL,
	[ven_nfiscal] [bigint] NULL,
	[ven_total] [money] NULL,
	[ven_nparcelas] [int] NULL,
	[ven_status] [varchar](95) NULL,
	[cli_cod] [int] NULL,
	[tpa_cod] [int] NULL,
	[ven_avista] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[categoria] ON 

GO
INSERT [dbo].[categoria] ([cat_cod], [cat_nome]) VALUES (1, N'BRINQUEDOS')
GO
INSERT [dbo].[categoria] ([cat_cod], [cat_nome]) VALUES (2, N'FERRAMENTAS')
GO
INSERT [dbo].[categoria] ([cat_cod], [cat_nome]) VALUES (3, N'LIVROS')
GO
SET IDENTITY_INSERT [dbo].[categoria] OFF
GO
SET IDENTITY_INSERT [dbo].[cliente] ON 

GO
INSERT [dbo].[cliente] ([cli_cod], [cli_nome], [cli_cpfcnpj], [cli_rgie], [cli_rsocial], [cli_tipo], [cli_cep], [cli_endereco], [cli_bairro], [cli_fone], [cli_cel], [cli_email], [cli_endnumero], [cli_cidade], [cli_estado]) VALUES (1, N'THEO JUAN ANTHONY CAMPOS', N'727,670,918-35', N'21,478,604-39', N'', 0, N'06,805-075', N'JOSUÉ', N'JARDIM SANTA LUZIA', N'(11)4257-6555', N'(11)99875-2235', N'theojuananthonycampos_@onset.com.br', N'998', N'EMBU DAS ARTES', N'SP')
GO
INSERT [dbo].[cliente] ([cli_cod], [cli_nome], [cli_cpfcnpj], [cli_rgie], [cli_rsocial], [cli_tipo], [cli_cep], [cli_endereco], [cli_bairro], [cli_fone], [cli_cel], [cli_email], [cli_endnumero], [cli_cidade], [cli_estado]) VALUES (2, N'ELZA MEDEIROS ', N'49,568,854/0001-68', N'686,597,362,926', N'ELZA E MARLI CONSTRUÇÕES ME', 1, N'12234-440', N'BERTOLINO CLAUDIO', N'JARDIM COLONIAL', N'(12)4362-2784', N'(12)99721-4033', N'contabil@elzaemarliconstrucoesme.com.br', N'178', N'SÃO JOSÉ DOS CAMPOS', N'SP')
GO
INSERT [dbo].[cliente] ([cli_cod], [cli_nome], [cli_cpfcnpj], [cli_rgie], [cli_rsocial], [cli_tipo], [cli_cep], [cli_endereco], [cli_bairro], [cli_fone], [cli_cel], [cli_email], [cli_endnumero], [cli_cidade], [cli_estado]) VALUES (3, N'RAFAELA FERREIRA DE MORAES', N'38,087,955/0001-09', N'553,791,460,459', N'RAFAELA E RYAN TELECOMUNICAÇÕES LTDA', 1, N'03713-070', N'INCIQUÊ', N'JARDIM JAÚ(ZONA LESTE)', N'(11)2766-4633', N'(11)99872-9728', N'vendas@rafaelaeryantelecomunicacoesltda.com.br', N'705', N'SÃO PAULO', N'SP')
GO
SET IDENTITY_INSERT [dbo].[cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[compra] ON 

GO
INSERT [dbo].[compra] ([com_cod], [com_data], [com_nfiscal], [com_total], [com_nparcelas], [com_status], [for_cod], [tpa_cod]) VALUES (1, CAST(N'2018-11-10 22:50:59.637' AS DateTime), 1, 66.0000, 1, N'ATIVA', 1, 1)
GO
INSERT [dbo].[compra] ([com_cod], [com_data], [com_nfiscal], [com_total], [com_nparcelas], [com_status], [for_cod], [tpa_cod]) VALUES (2, CAST(N'2018-11-12 10:38:35.670' AS DateTime), 29, 66.0000, 1, N'ATIVA', 1, 1)
GO
INSERT [dbo].[compra] ([com_cod], [com_data], [com_nfiscal], [com_total], [com_nparcelas], [com_status], [for_cod], [tpa_cod]) VALUES (3, CAST(N'2018-11-12 11:10:57.583' AS DateTime), 12, 395.0100, 1, N'ATIVA', 1, 1)
GO
SET IDENTITY_INSERT [dbo].[compra] OFF
GO
SET IDENTITY_INSERT [dbo].[controleacesso] ON 

GO
SET IDENTITY_INSERT [dbo].[controleacesso] OFF
GO
SET IDENTITY_INSERT [dbo].[fornecedor] ON 

GO
INSERT [dbo].[fornecedor] ([for_cod], [for_nome], [for_rsocial], [for_ie], [for_cnpj], [for_cep], [for_endereco], [for_bairro], [for_fone], [for_cel], [for_email], [for_endnumero], [for_cidade], [for_estado]) VALUES (1, N'IAN GOMES DOS SANTOS', N'ESTER E IAN BUFFET LTDA', N'472.225.322.914', N'31.376.020/0001-95', N'13300-430', N'DOUTOR LAFAYETTE GALVÃO DE TOLEDO', N'JARDIM FACULDADE', N'(11)4324-3434', N'(11)99847-6638', N'ti@estereianbuffetltda.com.br', N'67', N'ITU', N'SP')
GO
INSERT [dbo].[fornecedor] ([for_cod], [for_nome], [for_rsocial], [for_ie], [for_cnpj], [for_cep], [for_endereco], [for_bairro], [for_fone], [for_cel], [for_email], [for_endnumero], [for_cidade], [for_estado]) VALUES (2, N'JOÃO FRANCISCO ALVES ', N'GUSTAVO E JOÃO FERRAGENS ME', N'652,768,207,774', N'14,025,252/0001-80', N'15057-573', N'PROJETADA 6', N'VILLA CASSINI ', N'(17) 256-0356', N'(17) 9981-7060', N'comunicacoes@gustavoejoaoferragensme.com.br', N'761', N'SÃO JOSÉ DO RIO PRETO', N'SP')
GO
INSERT [dbo].[fornecedor] ([for_cod], [for_nome], [for_rsocial], [for_ie], [for_cnpj], [for_cep], [for_endereco], [for_bairro], [for_fone], [for_cel], [for_email], [for_endnumero], [for_cidade], [for_estado]) VALUES (3, N'LUCAS DUARTE DA CUNHA', N'THOMAS E LUCAS ESPORTES LTDA', N'763,639,830,740', N'56,900,879/0001-82', N'05074-900', N'ANTÔNIO RAPOSO, 186 ', N'LAPA ', N'(11)3647-6375', N'(11) 9841-2311', N'sac@thomaselucasesportesltda.com.br', N'691', N'SÃO PAULO', N'SP')
GO
SET IDENTITY_INSERT [dbo].[fornecedor] OFF
GO
SET IDENTITY_INSERT [dbo].[logusuario] ON 

GO
INSERT [dbo].[logusuario] ([log_cod], [log_tempentrada], [log_tempsaida], [usu_cod]) VALUES (1, CAST(N'2018-11-26 19:15:52.967' AS DateTime), CAST(N'2018-11-26 19:17:17.830' AS DateTime), 1)
GO
INSERT [dbo].[logusuario] ([log_cod], [log_tempentrada], [log_tempsaida], [usu_cod]) VALUES (2, CAST(N'2018-11-26 19:22:26.660' AS DateTime), CAST(N'2018-11-26 19:22:41.753' AS DateTime), 1)
GO
INSERT [dbo].[logusuario] ([log_cod], [log_tempentrada], [log_tempsaida], [usu_cod]) VALUES (3, CAST(N'2018-11-26 20:56:35.927' AS DateTime), CAST(N'2018-11-26 20:57:28.450' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[logusuario] OFF
GO
SET IDENTITY_INSERT [dbo].[nivelacesso] ON 

GO
INSERT [dbo].[nivelacesso] ([niv_cod], [niv_nome]) VALUES (1, N'administrador')
GO
INSERT [dbo].[nivelacesso] ([niv_cod], [niv_nome]) VALUES (2, N'gerente')
GO
INSERT [dbo].[nivelacesso] ([niv_cod], [niv_nome]) VALUES (3, N'vendedor')
GO
SET IDENTITY_INSERT [dbo].[nivelacesso] OFF
GO
SET IDENTITY_INSERT [dbo].[produto] ON 

GO
INSERT [dbo].[produto] ([pro_cod], [pro_nome], [pro_descricao], [pro_foto], [pro_valorpago], [pro_valorvenda], [pro_qtde], [umed_cod], [cat_cod], [scat_cod]) VALUES (2, N'FLOR DE VENENO', N'SEM DESCRIÇÃO', NULL, 10.0000, 15.0000, 90, 1, 3, 4)
GO
INSERT [dbo].[produto] ([pro_cod], [pro_nome], [pro_descricao], [pro_foto], [pro_valorpago], [pro_valorvenda], [pro_qtde], [umed_cod], [cat_cod], [scat_cod]) VALUES (4, N'ALICATE DIAGONAL 6''', N'FERRAMENTA IMPORTANTE PARA DOBRAS OU CORTES DE ARAMES E CRIAÇÃO DE BIJUTERIAS.', NULL, 10.0000, 15.6500, 109, 1, 2, 6)
GO
SET IDENTITY_INSERT [dbo].[produto] OFF
GO
SET IDENTITY_INSERT [dbo].[subcategoria] ON 

GO
INSERT [dbo].[subcategoria] ([scat_cod], [scat_nome], [cat_cod]) VALUES (1, N'EDUCACIONAL', 1)
GO
INSERT [dbo].[subcategoria] ([scat_cod], [scat_nome], [cat_cod]) VALUES (2, N'TERROR', 3)
GO
INSERT [dbo].[subcategoria] ([scat_cod], [scat_nome], [cat_cod]) VALUES (4, N'ROMANCE', 3)
GO
SET IDENTITY_INSERT [dbo].[subcategoria] OFF
GO
SET IDENTITY_INSERT [dbo].[tipopagamento] ON 

GO
INSERT [dbo].[tipopagamento] ([tpa_cod], [tpa_nome]) VALUES (1, N'DINHEIRO')
GO
INSERT [dbo].[tipopagamento] ([tpa_cod], [tpa_nome]) VALUES (2, N'CRÉDITO')
GO
INSERT [dbo].[tipopagamento] ([tpa_cod], [tpa_nome]) VALUES (3, N'DÉBITO')
GO
SET IDENTITY_INSERT [dbo].[tipopagamento] OFF
GO
SET IDENTITY_INSERT [dbo].[unidmedida] ON 

GO
INSERT [dbo].[unidmedida] ([umed_cod], [umed_nome]) VALUES (1, N'UNIDADE')
GO
INSERT [dbo].[unidmedida] ([umed_cod], [umed_nome]) VALUES (2, N'DEZENA')
GO
INSERT [dbo].[unidmedida] ([umed_cod], [umed_nome]) VALUES (3, N'METROS')
GO
SET IDENTITY_INSERT [dbo].[unidmedida] OFF
GO
SET IDENTITY_INSERT [dbo].[usuario] ON 

GO
INSERT [dbo].[usuario] ([usu_cod], [usu_nome], [usu_senha], [usu_status], [niv_cod]) VALUES (1, N'Alice', N'admin123', N'ATIVO', 1)
GO
INSERT [dbo].[usuario] ([usu_cod], [usu_nome], [usu_senha], [usu_status], [niv_cod]) VALUES (2, N'gerente', N'gerente', N'ATIVO', 2)
GO
INSERT [dbo].[usuario] ([usu_cod], [usu_nome], [usu_senha], [usu_status], [niv_cod]) VALUES (3, N'vendedor', N'vendedor', N'ATIVO', 3)
GO
SET IDENTITY_INSERT [dbo].[usuario] OFF
GO
SET IDENTITY_INSERT [dbo].[venda] ON 

GO
INSERT [dbo].[venda] ([ven_cod], [ven_data], [ven_nfiscal], [ven_total], [ven_nparcelas], [ven_status], [cli_cod], [tpa_cod], [ven_avista]) VALUES (1, CAST(N'2018-11-16 00:34:38.963' AS DateTime), 19921, 15.6500, 1, N'EFETUADA', 1, 1, 1)
GO
INSERT [dbo].[venda] ([ven_cod], [ven_data], [ven_nfiscal], [ven_total], [ven_nparcelas], [ven_status], [cli_cod], [tpa_cod], [ven_avista]) VALUES (2, CAST(N'2018-11-16 00:34:38.963' AS DateTime), 1058, 30.0000, 1, N'EFETUADA', 3, 3, 1)
GO
INSERT [dbo].[venda] ([ven_cod], [ven_data], [ven_nfiscal], [ven_total], [ven_nparcelas], [ven_status], [cli_cod], [tpa_cod], [ven_avista]) VALUES (3, CAST(N'2018-11-16 00:49:21.807' AS DateTime), 452, 10.0000, 1, N'EFETUADA', 4, 3, 1)
GO
SET IDENTITY_INSERT [dbo].[venda] OFF
GO
/****** Object:  Index [XPKcategoria]    Script Date: 01/03/2019 01:42:19 ******/
ALTER TABLE [dbo].[categoria] ADD  CONSTRAINT [XPKcategoria] PRIMARY KEY NONCLUSTERED 
(
	[cat_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [XPKcliente]    Script Date: 01/03/2019 01:42:19 ******/
ALTER TABLE [dbo].[cliente] ADD  CONSTRAINT [XPKcliente] PRIMARY KEY NONCLUSTERED 
(
	[cli_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [XPKcompra]    Script Date: 01/03/2019 01:42:19 ******/
ALTER TABLE [dbo].[compra] ADD  CONSTRAINT [XPKcompra] PRIMARY KEY NONCLUSTERED 
(
	[com_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [XPKfornecedor]    Script Date: 01/03/2019 01:42:19 ******/
ALTER TABLE [dbo].[fornecedor] ADD  CONSTRAINT [XPKfornecedor] PRIMARY KEY NONCLUSTERED 
(
	[for_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [XPKitenscompra]    Script Date: 01/03/2019 01:42:19 ******/
ALTER TABLE [dbo].[itenscompra] ADD  CONSTRAINT [XPKitenscompra] PRIMARY KEY NONCLUSTERED 
(
	[itc_cod] ASC,
	[com_cod] ASC,
	[pro_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [XPKitensVenda]    Script Date: 01/03/2019 01:42:19 ******/
ALTER TABLE [dbo].[itensvenda] ADD  CONSTRAINT [XPKitensVenda] PRIMARY KEY NONCLUSTERED 
(
	[itv_cod] ASC,
	[ven_cod] ASC,
	[pro_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_logusuario]    Script Date: 01/03/2019 01:42:19 ******/
ALTER TABLE [dbo].[logusuario] ADD  CONSTRAINT [PK_logusuario] PRIMARY KEY NONCLUSTERED 
(
	[log_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [XPKproduto]    Script Date: 01/03/2019 01:42:19 ******/
ALTER TABLE [dbo].[produto] ADD  CONSTRAINT [XPKproduto] PRIMARY KEY NONCLUSTERED 
(
	[pro_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [XPKsubcategoria]    Script Date: 01/03/2019 01:42:19 ******/
ALTER TABLE [dbo].[subcategoria] ADD  CONSTRAINT [XPKsubcategoria] PRIMARY KEY NONCLUSTERED 
(
	[scat_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [XPKmedida]    Script Date: 01/03/2019 01:42:19 ******/
ALTER TABLE [dbo].[unidmedida] ADD  CONSTRAINT [XPKmedida] PRIMARY KEY NONCLUSTERED 
(
	[umed_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [XPKvenda]    Script Date: 01/03/2019 01:42:19 ******/
ALTER TABLE [dbo].[venda] ADD  CONSTRAINT [XPKvenda] PRIMARY KEY NONCLUSTERED 
(
	[ven_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[compra]  WITH CHECK ADD  CONSTRAINT [R_21] FOREIGN KEY([for_cod])
REFERENCES [dbo].[fornecedor] ([for_cod])
GO
ALTER TABLE [dbo].[compra] CHECK CONSTRAINT [R_21]
GO
ALTER TABLE [dbo].[compra]  WITH CHECK ADD  CONSTRAINT [R_24] FOREIGN KEY([tpa_cod])
REFERENCES [dbo].[tipopagamento] ([tpa_cod])
GO
ALTER TABLE [dbo].[compra] CHECK CONSTRAINT [R_24]
GO
ALTER TABLE [dbo].[controleacesso]  WITH CHECK ADD  CONSTRAINT [FK_controleacesso_nivelacesso] FOREIGN KEY([niv_cod])
REFERENCES [dbo].[nivelacesso] ([niv_cod])
GO
ALTER TABLE [dbo].[controleacesso] CHECK CONSTRAINT [FK_controleacesso_nivelacesso]
GO
ALTER TABLE [dbo].[itenscompra]  WITH CHECK ADD  CONSTRAINT [R_15] FOREIGN KEY([com_cod])
REFERENCES [dbo].[compra] ([com_cod])
GO
ALTER TABLE [dbo].[itenscompra] CHECK CONSTRAINT [R_15]
GO
ALTER TABLE [dbo].[itenscompra]  WITH CHECK ADD  CONSTRAINT [R_17] FOREIGN KEY([pro_cod])
REFERENCES [dbo].[produto] ([pro_cod])
GO
ALTER TABLE [dbo].[itenscompra] CHECK CONSTRAINT [R_17]
GO
ALTER TABLE [dbo].[itensvenda]  WITH CHECK ADD  CONSTRAINT [R_13] FOREIGN KEY([ven_cod])
REFERENCES [dbo].[venda] ([ven_cod])
GO
ALTER TABLE [dbo].[itensvenda] CHECK CONSTRAINT [R_13]
GO
ALTER TABLE [dbo].[itensvenda]  WITH CHECK ADD  CONSTRAINT [R_14] FOREIGN KEY([pro_cod])
REFERENCES [dbo].[produto] ([pro_cod])
GO
ALTER TABLE [dbo].[itensvenda] CHECK CONSTRAINT [R_14]
GO
ALTER TABLE [dbo].[logusuario]  WITH CHECK ADD  CONSTRAINT [FK_logusuario_usuario] FOREIGN KEY([usu_cod])
REFERENCES [dbo].[usuario] ([usu_cod])
GO
ALTER TABLE [dbo].[logusuario] CHECK CONSTRAINT [FK_logusuario_usuario]
GO
ALTER TABLE [dbo].[parcelascompra]  WITH CHECK ADD  CONSTRAINT [R_25] FOREIGN KEY([com_cod])
REFERENCES [dbo].[compra] ([com_cod])
GO
ALTER TABLE [dbo].[parcelascompra] CHECK CONSTRAINT [R_25]
GO
ALTER TABLE [dbo].[parcelasvenda]  WITH CHECK ADD  CONSTRAINT [R_22] FOREIGN KEY([ven_cod])
REFERENCES [dbo].[venda] ([ven_cod])
GO
ALTER TABLE [dbo].[parcelasvenda] CHECK CONSTRAINT [R_22]
GO
ALTER TABLE [dbo].[produto]  WITH CHECK ADD  CONSTRAINT [R_11] FOREIGN KEY([cat_cod])
REFERENCES [dbo].[categoria] ([cat_cod])
GO
ALTER TABLE [dbo].[produto] CHECK CONSTRAINT [R_11]
GO
ALTER TABLE [dbo].[produto]  WITH CHECK ADD  CONSTRAINT [R_12] FOREIGN KEY([scat_cod])
REFERENCES [dbo].[subcategoria] ([scat_cod])
GO
ALTER TABLE [dbo].[produto] CHECK CONSTRAINT [R_12]
GO
ALTER TABLE [dbo].[produto]  WITH CHECK ADD  CONSTRAINT [R_9] FOREIGN KEY([umed_cod])
REFERENCES [dbo].[unidmedida] ([umed_cod])
GO
ALTER TABLE [dbo].[produto] CHECK CONSTRAINT [R_9]
GO
ALTER TABLE [dbo].[subcategoria]  WITH CHECK ADD  CONSTRAINT [R_10] FOREIGN KEY([cat_cod])
REFERENCES [dbo].[categoria] ([cat_cod])
GO
ALTER TABLE [dbo].[subcategoria] CHECK CONSTRAINT [R_10]
GO
ALTER TABLE [dbo].[usuario]  WITH CHECK ADD  CONSTRAINT [FK_usuario_nivelacesso] FOREIGN KEY([niv_cod])
REFERENCES [dbo].[nivelacesso] ([niv_cod])
GO
ALTER TABLE [dbo].[usuario] CHECK CONSTRAINT [FK_usuario_nivelacesso]
GO
ALTER TABLE [dbo].[venda]  WITH CHECK ADD  CONSTRAINT [R_20] FOREIGN KEY([cli_cod])
REFERENCES [dbo].[cliente] ([cli_cod])
GO
ALTER TABLE [dbo].[venda] CHECK CONSTRAINT [R_20]
GO
ALTER TABLE [dbo].[venda]  WITH CHECK ADD  CONSTRAINT [R_23] FOREIGN KEY([tpa_cod])
REFERENCES [dbo].[tipopagamento] ([tpa_cod])
GO
ALTER TABLE [dbo].[venda] CHECK CONSTRAINT [R_23]
GO
USE [master]
GO
